@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.button {
    @include typography.text();
    background-color: var(--secondary-bg);
    border-radius: variables.$border-radius;
    padding: 16px 32px;
    transition: variables.$transition;
    border: 1px solid var(--secondary-bg);
    width: max-content;

    &:hover {
        background-color: var(--heading-text);
    }

    &:active {
        background-color: var(--text-color);
        color: var(--main-bg);
    }
}