@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.container {
    background-color: var(--card--bg);
    padding: 24px;
    border-radius: variables.$border-radius;
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }

    & h2 {
        @include typography.headingCard();

        margin-bottom: 16px;
    }
}