@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.title {
    @include typography.heading();
    
    margin-bottom: 32px;
}

.settings_list {
    & li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }

        & p {
            @include typography.text();
        }
    }
}