@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.container {
    background-color: var(--card--bg);
    padding: 16px;
    border-radius: 15px;
}