:root {
    --main-bg: #fffdf6;
    --secondary-bg: #fdf3d3;
    --card--bg: #fdf3d3;
    --text-color: #7d481b;
    --heading-text: #ee7a47;
    --nav-text: #ee7a47
}

[data-theme="dark"] {
    --main-bg: #0B131E;
    --secondary-bg: #202B3B;
    --card--bg: #202B3B;
    --text-color: #F9F9F9;
    --heading-text: #949494;
    --nav-text: #F9F9F9
}

$gray: #949494;
$yellow: #F8D92D;