@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}

.card {
    display: flex;
    gap: 12px;

    & div {
        margin-top: 4px;
    }

    & h4 {
        @include typography.text();

        color: colors.$gray;
        margin-bottom: 8px
    }

    & p {
        @include typography.textBig();
    }
}

.svg_wind{
    stroke: colors.$gray
}

.svg_temp {
    fill: colors.$gray;
    width: 24px;
    height: 24px;
}