@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    width: 100%;
}

.information {
    height: 100%;

    & div {
        margin-bottom: 100px
    }
}

.title {
    @include typography.heading();
}

.subtitle {
    @include typography.text();

    color: colors.$gray;
    text-align: center;
}

.weather_icon {
    width: 160px;
    height: 160px;
}