@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    width: 100%;
}

.information {
    height: 100%;

    & div {
        margin-bottom: 100px
    }
}

.title {
    @include typography.heading();

    margin-bottom: 4px; 
}

.grad {
    @include typography.headingBig();
}

.subtitle {
    @include typography.text();

    color: colors.$gray;
    text-transform: capitalize;
}

.weather_icon {
    width: 240px;
    height: 240px;
}