@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.sidebar {
    background-color: var(--secondary-bg);
    padding-top: 32px;
    border-radius: variables.$border-radius;
    width: 100%;
    max-width: 140px;
}

.navigation {
    display: flex;
    flex-direction: column;

    & a {
        @include typography.text();
        color: colors.$gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        transition: variables.$transition;

        &:hover {
            background-color: rgb(31, 119, 180, 0.2);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:global(.active) {
            color: var(--nav-text);
        }

        & svg {
            margin-bottom: 4px;
            stroke: colors.$gray;
            transition: variables.$transition;
        }

        &:global(.active) svg {
            stroke: var(--nav-text);
        }
    }
}