@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.cities_list {
    @include typography.text();

    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    & li {
        background-color: var(--card--bg);
        border-radius: variables.$border-radius;
        max-width: 240px;
        width: 100%;
        padding: 16px;
        transition: variables.$transition;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        & p {
            display: block;
            width: 100%;
        }

        &:hover {
            background-color: var(--heading-text);
            color: var(--main-bg);
        }

        &:active {
            background-color: var(--text-color);
            color: var(--main-bg);
        }

        &:hover svg {
            stroke: var(--main-bg);
        }

        &:active svg {
            stroke: var(--main-bg);
        }

        &:active:has(button:active) {
            background-color: var(--card--bg); 
            color: inherit;
        }

        & button svg {
            stroke: colors.$gray;
            transition: variables.$transition;

            &:hover {
                stroke: darkred;
            }

            &:active {
                stroke: firebrick;
            }
        }
    }
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        @include typography.text();

        max-width: 280px;
        text-align: center;

        margin-bottom: 60px;

        & strong {
            color: var(--svg-active);
        }
    }

    .negative {
        background-color: transparent;
        color: var(--svg-active);
        border: none;
        margin-top: 8px;

        &:hover {
            background: transparent;
            color: colors.$gray;
        }

        &:active {
            background-color: transparent;
            color: var(--text-color);
        }
    }
}

.geo {
    stroke: rgb(255, 204, 0);
}