@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.cities_list {
    @include typography.text();

    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    & li {
        background-color: var(--card--bg);
        border-radius: variables.$border-radius;
        max-width: 240px;
        width: 100%;
        padding: 16px;
        transition: variables.$transition;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: var(--heading-text);
            color: var(--main-bg);
        }

        &:active {
            background-color: var(--text-color);
            color: var(--main-bg);
        }

        &:hover svg {
            stroke: var(--main-bg);
        }

        &:active svg {
            stroke: var(--main-bg);
        }

        &:active:has(button:active) {
            background-color: var(--card--bg); 
            color: inherit;
        }

        & button svg {
            stroke: colors.$gray;
            transition: variables.$transition;

            &:hover {
                stroke: darkred;
            }

            &:active {
                stroke: firebrick;
            }
        }
    }
}