@use "@/styles/colors" as colors;
@use "@/styles/variables" as variables;
@use "@/styles/typography" as typography;

.container_app {
    display: flex;
    padding: 16px;
    height: 100%;
    min-height: 100vh;
    position: relative;

    @media screen and (max-width: 768px) {
        display: block;
        overflow-x: hidden;
    }

    & main {
        width: 100%;
        padding-left: 32px;

        @media screen and (max-width: 768px) {
            padding-left: 0;
        }
    }
}

.sidebar {
    background-color: var(--secondary-bg);
    padding-top: 32px;
    border-radius: variables.$border-radius;
    width: 100%;
    max-width: 160px;

    @media screen and (max-width: 768px) {
        & {
            display: none;
        }
    }
}